.u--bg-transparent { background-color: transparent; }
.u--bg-black { background-color: #000000; }
.u--bg-white { background-color: #ffffff; }
.u--bg-purple { background-color: #4800ff; }
.u--bg-red { background-color: #f6413d; }
.u--bg-pink { background-color: #ffa1b0; }
.u--bg-dark-purple { background-color: #00045d; }
.u--bg-gold { background-color: #eec643; }
.u--bg-teal { background-color: #0f7173; }
.u--bg-light-grey { background-color: #cad2c5; }