.u--rounded-none {border-radius: 0px;}
.u--rounded-sm {border-radius: 2px;}
.u--rounded {border-radius: 4px;}
.u--rounded-md {border-radius: 6px;}
.u--rounded-lg {border-radius: 8px;}
.u--rounded-xl {border-radius: 12px;}
.u--rounded-2xl {border-radius: 16px;}
.u--rounded-3xl {border-radius: 24px;}
.u--rounded-full {border-radius: 9999px;}