.u--border-primary-100 {border-color:#4800ff;}
.u--border-primary-60 {border-color:#9166ff;}
.u--border-primary-40 {border-color:#b699ff;}
.u--border-primary-20 {border-color:#daccff;}
.u--border-primary-10 {border-color:#e6e5ff;}
.u--border-primary-5 {border-color:#f6f2ff;}
.u--border-ink-100 {border-color:#000345;}
.u--border-ink-60 {border-color:#66688f;}
.u--border-ink-40 {border-color:#999ab5;}
.u--border-ink-20 {border-color:#cccdda;}
.u--border-ink-10 {border-color:#e5e6ec;}
.u--border-ink-5 {border-color:#f2f2f6;}
.u--border-white {border-color:#ffffff;}
.u--border-black {border-color:#000000;}
.u--border-transparent {border-color:transparent;}