.u--border-solid {border-style: solid;}
.u--border-dashed {border-style: dashed;}
.u--border-dotted {border-style: dotted;}
.u--border-double {border-style: double;}
.u--border-hidden {border-style: hidden;}
.u--border-none {border-style: none;}