.u--breaking-normal {white-space: normal;}
.u--breaking-nowrap {white-space: nowrap;}
.u--breaking-pre {white-space: pre;}
.u--breaking-pre-line {white-space: pre-line;}
.u--breaking-pre-wrap {white-space: pre-wrap;}
.u--breaking-break-spaces {white-space: break-spaces;}