.u--cursor-auto {cursor: auto;}
.u--cursor-default {cursor: default;}
.u--cursor-pointer {cursor: pointer;}
.u--cursor-wait {cursor: wait;}
.u--cursor-text {cursor: text;}
.u--cursor-move {cursor: move;}
.u--cursor-help {cursor: help;}
.u--cursor-not-allowed {cursor: not-allowed;}
.u--cursor-none {cursor: none;}
.u--cursor-context-menu {cursor: context-menu;}
.u--cursor-progress {cursor: progress;}
.u--cursor-cell {cursor: cell;}
.u--cursor-crosshair {cursor: crosshair;}
.u--cursor-vertical-text {cursor: vertical-text;}
.u--cursor-alias {cursor: alias;}
.u--cursor-copy {cursor: copy;}
.u--cursor-no-drop {cursor: no-drop;}