.u--block {display: block;}
.u--inline-block {display: inline-block;}
.u--inline {display: inline;}
.u--flex {display: flex;}
.u--inline-flex {display: inline-flex;}
.u--table {display: table;}
.u--inline-table {display: inline-table;}
.u--table-caption {display: table-caption;}
.u--table-cell {display: table-cell;}
.u--table-column {display: table-column;}
.u--table-column-group {display: table-column-group;}
.u--table-footer-group {display: table-footer-group;}
.u--table-header-group {display: table-header-group;}
.u--table-row-group {display: table-row-group;}
.u--table-row {display: table-row;}
.u--flow-root {display: flow-root;}
.u--grid {display: grid;}
.u--inline-grid {display: inline-grid;}
.u--contents {display: contents;}
.u--list-item {display: list-item;}
.u--hidden {display: none;}