.u--flex-basis-1-12-shrink {flex-grow: 0; flex-shrink: 1; flex-basis: 8.333333333333334;}
.u--flex-basis-2-12-shrink {flex-grow: 0; flex-shrink: 1; flex-basis: 16.6667;}
.u--flex-basis-3-12-shrink {flex-grow: 0; flex-shrink: 1; flex-basis: 25;}
.u--flex-basis-4-12-shrink {flex-grow: 0; flex-shrink: 1; flex-basis: 33.3333;}
.u--flex-basis-5-12-shrink {flex-grow: 0; flex-shrink: 1; flex-basis: 41.6667;}
.u--flex-basis-6-12-shrink {flex-grow: 0; flex-shrink: 1; flex-basis: 50;}
.u--flex-basis-7-12-shrink {flex-grow: 0; flex-shrink: 1; flex-basis: 58.3333;}
.u--flex-basis-8-12-shrink {flex-grow: 0; flex-shrink: 1; flex-basis: 66.6667;}
.u--flex-basis-9-12-shrink {flex-grow: 0; flex-shrink: 1; flex-basis: 75;}
.u--flex-basis-10-12-shrink {flex-grow: 0; flex-shrink: 1; flex-basis: 83.3333;}
.u--flex-basis-11-12-shrink {flex-grow: 0; flex-shrink: 1; flex-basis: 91.6667;}
.u--flex-basis-12-12-shrink {flex-grow: 0; flex-shrink: 1; flex-basis: 100;}
.u--flex-basis-1-12-grow {flex-grow: 1; flex-shrink: 1; flex-basis: 8.33333;}
.u--flex-basis-2-12-grow {flex-grow: 1; flex-shrink: 1; flex-basis: 16.6667;}
.u--flex-basis-3-12-grow {flex-grow: 1; flex-shrink: 1; flex-basis: 25;}
.u--flex-basis-4-12-grow {flex-grow: 1; flex-shrink: 1; flex-basis: 33.3333;}
.u--flex-basis-5-12-grow {flex-grow: 1; flex-shrink: 1; flex-basis: 41.6667;}
.u--flex-basis-6-12-grow {flex-grow: 1; flex-shrink: 1; flex-basis: 50;}
.u--flex-basis-7-12-grow {flex-grow: 1; flex-shrink: 1; flex-basis: 58.3333;}
.u--flex-basis-8-12-grow {flex-grow: 1; flex-shrink: 1; flex-basis: 66.6667;}
.u--flex-basis-9-12-grow {flex-grow: 1; flex-shrink: 1; flex-basis: 75;}
.u--flex-basis-10-12-grow {flex-grow: 1; flex-shrink: 1; flex-basis: 83.3333;}
.u--flex-basis-11-12-grow {flex-grow: 1; flex-shrink: 1; flex-basis: 91.6667;}
.u--flex-basis-12-12-grow {flex-grow: 1; flex-shrink: 1; flex-basis: 100;}
.u--flex-basis-1-12 {flex-grow: 0; flex-shrink: 0; flex-basis: 8.33333;}
.u--flex-basis-2-12 {flex-grow: 0; flex-shrink: 0; flex-basis: 16.6667;}
.u--flex-basis-3-12 {flex-grow: 0; flex-shrink: 0; flex-basis: 25;}
.u--flex-basis-4-12 {flex-grow: 0; flex-shrink: 0; flex-basis: 33.3333;}
.u--flex-basis-5-12 {flex-grow: 0; flex-shrink: 0; flex-basis: 41.6667;}
.u--flex-basis-6-12 {flex-grow: 0; flex-shrink: 0; flex-basis: 50;}
.u--flex-basis-7-12 {flex-grow: 0; flex-shrink: 0; flex-basis: 58.3333;}
.u--flex-basis-8-12 {flex-grow: 0; flex-shrink: 0; flex-basis: 66.6667;}
.u--flex-basis-9-12 {flex-grow: 0; flex-shrink: 0; flex-basis: 75;}
.u--flex-basis-10-12 {flex-grow: 0; flex-shrink: 0; flex-basis: 83.3333;}
.u--flex-basis-11-12 {flex-grow: 0; flex-shrink: 0; flex-basis: 91.6667;}
.u--flex-basis-12-12 {flex-grow: 0; flex-shrink: 0; flex-basis: 100;}