.u--text-xs {font-size: 0.75rem; line-height: 1rem;}
.u--text-sm {font-size: 0.875rem; line-height: 1.25rem;}
.u--text-base {font-size: 1rem; line-height: 1.5rem;}
.u--text-lg {font-size: 1.125rem; line-height: 1.75rem;}
.u--text-xl {font-size: 1.25rem; line-height: 1.75rem;}
.u--text-2xl {font-size: 1.5rem; line-height: 2rem;}
.u--text-3xl {font-size: 1.875rem; line-height: 2.25rem;}
.u--text-4xl {font-size: 2.25rem; line-height: 2.5rem;}
.u--text-5xl {font-size: 3rem; line-height: 1;}
.u--text-6xl {font-size: 4rem; line-height: 1;}
.u--text-7xl {font-size: 5rem; line-height: 1;}
.u--text-8xl {font-size: 6rem; line-height: 1;}
.u--text-9xl {font-size: 8rem; line-height: 1;}