.u--col-start-1 {grid-column-start: 1;}
.u--col-start-2 {grid-column-start: 2;}
.u--col-start-3 {grid-column-start: 3;}
.u--col-start-4 {grid-column-start: 4;}
.u--col-start-5 {grid-column-start: 5;}
.u--col-start-6 {grid-column-start: 6;}
.u--col-start-7 {grid-column-start: 7;}
.u--col-start-8 {grid-column-start: 8;}
.u--col-start-9 {grid-column-start: 9;}
.u--col-start-10 {grid-column-start: 10;}
.u--col-start-11 {grid-column-start: 11;}
.u--col-start-12 {grid-column-start: 12;}
.u--col-start-13 {grid-column-start: 13;}
.u--col-end-1 {grid-column-end: 1;}
.u--col-end-2 {grid-column-end: 2;}
.u--col-end-3 {grid-column-end: 3;}
.u--col-end-4 {grid-column-end: 4;}
.u--col-end-5 {grid-column-end: 5;}
.u--col-end-6 {grid-column-end: 6;}
.u--col-end-7 {grid-column-end: 7;}
.u--col-end-8 {grid-column-end: 8;}
.u--col-end-9 {grid-column-end: 9;}
.u--col-end-10 {grid-column-end: 10;}
.u--col-end-11 {grid-column-end: 11;}
.u--col-end-12 {grid-column-end: 12;}
.u--col-end-13 {grid-column-end: 13;}