.u--grid-rows-1 {display: grid; grid-auto-rows: 1fr; grid-template-rows: 1fr;}
.u--grid-rows-2 {display: grid; grid-auto-rows: 1fr; grid-template-rows: 1fr 1fr;}
.u--grid-rows-3 {display: grid; grid-auto-rows: 1fr; grid-template-rows: 1fr 1fr 1fr;}
.u--grid-rows-4 {display: grid; grid-auto-rows: 1fr; grid-template-rows: 1fr 1fr 1fr 1fr;}
.u--grid-rows-5 {display: grid; grid-auto-rows: 1fr; grid-template-rows: 1fr 1fr 1fr 1fr 1fr;}
.u--grid-rows-6 {display: grid; grid-auto-rows: 1fr; grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;}