.u--justify-self-auto {justify-self: auto;}
.u--justify-self-start {justify-self: start;}
.u--justify-self-end {justify-self: end;}
.u--justify-self-center {justify-self: center;}
.u--justify-self-stretch {justify-self: stretch;}