.u--letter-spacing-tighter {letter-spacing: -0.05em;}
.u--letter-spacing-tight {letter-spacing: -0.025em;}
.u--letter-spacing-normal {letter-spacing: 0em;}
.u--letter-spacing-wide {letter-spacing: 0.025em;}
.u--letter-spacing-wider {letter-spacing: 0.05em;}
.u--letter-spacing-widest {letter-spacing: 0.1em;}