.u--max-w-0 {max-width: 0;}
.u--max-w-none {max-width: none;}
.u--max-w-xs {max-width: 320px;}
.u--max-w-sm {max-width: 384px;}
.u--max-w-md {max-width: 448px;}
.u--max-w-lg {max-width: 512px;}
.u--max-w-xl {max-width: 576px;}
.u--max-w-2xl {max-width: 672px;}
.u--max-w-3xl {max-width: 768px;}
.u--max-w-4xl {max-width: 896px;}
.u--max-w-5xl {max-width: 1024px;}
.u--max-w-6xl {max-width: 1152px;}
.u--max-w-7xl {max-width: 1280px;}
.u--max-w-full {max-width: 100%;}
.u--max-w-prose {max-width: 65ch;}
.u--max-w-screen-sm {max-width: 640px;}
.u--max-w-screen-md {max-width: 768px;}
.u--max-w-screen-lg {max-width: 1024px;}
.u--max-w-screen-xl {max-width: 1280px;}
.u--max-w-screen-2xl {max-width: 1536px;}