.u--inset-0 {top: 0px; right: 0px; bottom: 0px;}
.u--inset-x-0 {top: 0px; bottom: 0px;}
.u--inset-y-0 {right: 0px; left: 0px;}
.u--top-auto {top: auto;}
.u--top-1-2 {top: 50%;}
.u--top-1-3 {top: 33.333333%;}
.u--top-2-3 {top: 66.666667%;}
.u--top-1-4 {top: 25%;}
.u--top-2-4 {top: 50%;}
.u--top-3-4 {top: 75%;}
.u--top-full {top: 100%;}
.u--right-auto {right: auto;}
.u--right-1-2 {right: 50%;}
.u--right-1-3 {right: 33.333333%;}
.u--right-2-3 {right: 66.666667%;}
.u--right-1-4 {right: 25%;}
.u--right-2-4 {right: 50%;}
.u--right-3-4 {right: 75%;}
.u--right-full {right: 100%;}
.u--bottom-auto {bottom: auto;}
.u--bottom-1-2 {bottom: 50%;}
.u--bottom-1-3 {bottom: 33.333333%;}
.u--bottom-2-3 {bottom: 66.666667%;}
.u--bottom-1-4 {bottom: 25%;}
.u--bottom-2-4 {bottom: 50%;}
.u--bottom-3-4 {bottom: 75%;}
.u--bottom-full {bottom: 100%;}
.u--left-auto {left: auto;}
.u--left-1-2 {left: 50%;}
.u--left-1-3 {left: 33.333333%;}
.u--left-2-3 {left: 66.666667%;}
.u--left-1-4 {left: 25%;}
.u--left-2-4 {left: 50%;}
.u--left-3-4 {left: 75%;}
.u--left-full {left: 100%;}