.u--text-transparent { color: transparent; }
.u--text-black { color: #000000; }
.u--text-white { color: #ffffff; }
.u--text-purple { color: #4800ff; }
.u--text-red { color: #f6413d; }
.u--text-pink { color: #ffa1b0; }
.u--text-dark-purple { color: #00045d; }
.u--text-gold { color: #eec643; }
.u--text-teal { color: #0f7173; }
.u--text-light-grey { color: #cad2c5; }