.u--w-1-12 {width: 8.333333333333333%;}
.u--w-2-12 {width: 16.666666666666664%;}
.u--w-3-12 {width: 25%;}
.u--w-4-12 {width: 33.33333333333333%;}
.u--w-5-12 {width: 41.66666666666667%;}
.u--w-6-12 {width: 50%;}
.u--w-7-12 {width: 58.333333333333336%;}
.u--w-8-12 {width: 66.66666666666666%;}
.u--w-9-12 {width: 75%;}
.u--w-10-12 {width: 83.33333333333334%;}
.u--w-11-12 {width: 91.66666666666666%;}
.u--w-full {width: 100%;}
.u--w-screen {width: 100vw;}
.u--w-auto {width: auto;}